.remove-button {
	margin-bottom: 0;
}

.upload-box {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(202, 202, 202);
}

.upload-input {
	margin-bottom: auto;
	margin-left: 0.5rem;
}

.vid-done {
	opacity: 0.3;
}

.vid-np {
	border: 1px solid green;
}