.remove-button {
	display: inline-flex;
	color: white;
	background: #ff1744;
	border-radius: 5px;
	padding: 3px;
	line-height: unset;
}

.close-button {
	position: relative;
	top: -0.25rem;
	left: 0.25rem;
}

.upload-box {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(202, 202, 202);
}

.upload-input {
	margin-bottom: auto;
	margin-left: 0.5rem;
}

#link-group {
	margin-bottom: 0.5rem;
}

#queue-form {
	margin-bottom: 1rem;
	will-change: border-style;
	border-style: solid;
	border-top: none;
	border-color: rgb(202, 202, 202);
	border-width: 1px;
}

.last {
	float: left !important;
}

#queue-options {
	will-change: display;
}

#vid-offset {
	height: 1.75rem;
	margin-bottom: 0.5rem;
	padding: initial;
	padding-left: 0.5rem;
}

.vid {
	margin-top: 0.25rem !important;
	margin-bottom: 0.25rem;
}

.vid > div.wordwrap > a {
	line-height: 1.875rem;	
}

.vid.done {
	opacity: 0.3;
}

.np-pop {
	display: inline-flex;
	background: #263238;
	color: white;
	border-radius: 5px;
	padding: 3px;
}

.progress {
	margin-bottom: 0 !important;
}

.wordwrap {
	overflow-wrap: break-word;
	line-height: initial;
	overflow: hidden;
}

#progress-outer {
	display: none;
}
