<h5>Now playing:</h5>
<h5>
  {{/*If there is no id, then this is an empty video so display Nothing playing*/}}
  {{if .NowPlaying.ID}}
    {{.NowPlaying.Title}} uploaded by {{.NowPlaying.Uploader}}
    <form action="/admin/kill">
      <input type="submit" value="Stop current video" class="button expanded alert">
    </form>
  {{else}}
    Nothing Playing
  {{end}}
</h5>

<hr>

{{/*For each bucket in playlist*/}}
{{range .Playlist}}
  <div class="callout">
    {{/*For each item in bucket*/}}
    {{range .}}
      <div class="row">
        <div class="small-7 columns">
          {{if .Title}}{{.Title}}{{else}}New video...{{end}}
        </div>

        <div class="small-1 columns">
          {{.IpAddr}}
        </div>

        <div class="small-2 columns">
          {{if not .Ready}}
          Downloading...
          {{else}}
          <form action="/admin/remove" method="POST">
            <input type="hidden" name="video_id" value="{{.ID}}">
            <input type="submit" value="Remove" class="alert button tiny remove-button">
          </form>
          {{end}}
        </div>

        <div class="small-2 columns">
          {{.Uploader}}
        </div>
      </div>
    {{end}}
  </div>
{{end}}