{{range .Playlist}}
  <div class="callout">
    {{range .}}

	  {{if .NP}}
      <div class="vid np row">
        <div class="np-pop">Now Playing</div>
      {{else if .Played}}
	  <div class="vid done row">
      {{else}}
	  <div class="vid row">
      {{end}}

        <div class="small-7 columns">
		  {{if .Ready}}
		    <a href="{{serverDomain}}/media/{{.RelativeFile}}" download>{{.Title}}</a>
		  {{else}}
            {{.Title}}
		  {{end}}
        </div>

        <div class="small-2 columns">
          {{if not .Ready}}
            Downloading...
		  {{else if .NP}}
            <form action="{{serverDomain}}/admin/kill">
              <input type="submit" value="Stop" class="alert button tiny remove-button">
            </form>
          {{else if not .Played}}
            <form action="{{serverDomain}}/admin/remove" method="POST">
              <input type="hidden" name="video_id" value="{{.UUID}}">
              <input type="submit" value="Remove" class="alert button tiny remove-button">
            </form>
          {{end}}
        </div>

        <div class="small-3 columns">
          {{.Alias}}
        </div>
      </div>
    {{end}}
  </div>
{{end}}
