<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Login Incorrect</title>
    <link rel="stylesheet" type="text/css" href="{{serverDomain}}/static/css/main.css">
    <link rel="shortcut icon" href="{{serverDomain}}/static/favicon.ico">
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="flex-content">

        <section class="top-bar">
          <div class="row">
            <div class="small-12 columns">
              <div class="top-bar-title">
                <a href="{{serverDomain}}/">
                  <strong>
                    UWCS <span class="accent">Music Server</span>
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="row margin-top-2x">
          <div class="small-6 small-push-3 columns">
            <h4>Login Incorrect</h4>
            <p>The password you entered was incorrect</p>
            <a href="{{serverDomain}}/admin/login" class="button float-center">Back</a>
          </div>
        </section>

      </div>
    </div>
  </body>

</html>
