<!DOCTYPE html>
<html>

  <head>
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="flex-content">

        <section class="top-bar">
          <div class="row">
            <div class="small-12 columns">
              <div class="top-bar-title">
                <a href="/">
                  <strong>
                    UWCS <span class="accent">Music Server</span>
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="row margin-top-2x">
          <div class="small-6 small-push-3 columns">
            <h4>Please enter the admin password</h4>
            <form action="/admin/login" method="POST">
              <div class="input-group">
                <span class="input-group-label">Password:</span>
                <input type="password" class="input-group-field" name="admin_pwd" required>
                <div class="input-group-button">
                  <input type="submit" value="Go" class="button">
                </div>
              </div>
            </form>
          </div>
        </section>

      </div>
    </div>
  </body>

</html>