<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Server Admin Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>

    <div class="flex-wrapper">
      <div class="flex-content">

        <section class="top-bar">
          <div class="row">
            <div class="small-12 columns">
              <div class="top-bar-title">
                <a href="/">
                  <strong>
                    UWCS <span class="accent">Music Server</span> Admin
                  </strong>
                </a>
              </div>
              <div class="top-bar-right">
                <ul class="menu">
                  <li><a href="/admin/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section class="row margin-top-2x">
          <div class="small-12 columns" id="main">

            <h5>Now playing:</h5>
            <h5>
				{{$npUUID := .NowPlaying.UUID}}
				{{if .NowPlaying.Title}}
					{{.NowPlaying.Title}} - {{.NowPlaying.Alias}}
				{{else}}
					Nothing
				{{end}}
            </h5>

            <hr>

            {{/*For each bucket in playlist*/}}
            {{range .Buckets}}
              <div class="callout">
                {{/*For each item in bucket*/}}
                {{range .}}
                  <div class="row
				  	{{if eq $npUUID .UUID}}
						callout success
					{{else if .Played}}
						callout secondary
					{{end}}
				  ">
                    <div class="small-6 columns">
					{{if .Ready}}<a href="/media/{{.RelativeFile}}" target="_blank">{{end}}
                      {{if .Title}}{{.Title}}{{else}}New video...{{end}}
					{{if .Ready}}</a>{{end}}
                    </div>

                    <div class="small-2 columns">
                      {{.IpAddr}}
                    </div>

                    <div class="small-2 columns">
                      {{if not .Ready}}
                      Downloading...
                      {{else if not .Played}}
                      <form action="/admin/remove" method="POST">
                        <input type="hidden" name="video_id" value="{{.UUID}}">
                        <input type="submit" value="Remove" class="alert button tiny remove-button">
                      </form>
                      {{end}}
                    </div>

                    <div class="small-2 columns">
                      {{.Alias}}
                    </div>
                  </div>
                {{end}}
              </div>
            {{end}}

          </div>
        </section>

      </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/admin.js"></script>

  </body>
</html>
