{{range .Playlist}}
  <div class="callout">
    {{range .}}

	  {{if .NP}}
      <div class="vid-np row">
      {{else if .Played}}
	  <div class="vid-done row">
      {{else}}
	  <div class="row">
      {{end}}

        <div class="small-7 columns">
		  {{if .Ready}}
		    <a href="/media/{{.RelativeFile}}">{{.Title}}</a>
		  {{else}}
            {{.Title}}
		  {{end}}
        </div>

        <div class="small-2 columns">
          {{if not .Ready}}
            Downloading...
          {{else if and (not .NP) (not .Played)}}
            <form action="/admin/remove" method="POST">
              <input type="hidden" name="video_id" value="{{.UUID}}">
              <input type="submit" value="Remove" class="alert button tiny remove-button">
            </form>
          {{end}}
        </div>

        <div class="small-3 columns">
          {{.Alias}}
        </div>
      </div>
    {{end}}
  </div>
{{end}}
