<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Set Alias</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="flex-content">

        <section class="top-bar">
          <div class="row">
            <div class="small-12 columns">
              <div class="top-bar-title">
                <a href="/">
                  <strong>
                    UWCS <span class="accent">Music Server</span>
                  </strong>
                </a>
              </div>
              <div class="top-bar-right">
                <ul class="menu">
                  <li><a href="/admin">Admin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section class="row margin-top-2x">
          <div class="small-6 small-push-3 columns">
            <h4>Please set your alias</h4>
            <form action="/alias" method="POST">
              <div class="input-group">
                <span class="input-group-label">Alias:</span>
                <input type="text" name="alias_value" class="input-group-field" placeholder="FalcoMaster3000" required maxlength="40">
                <div class="input-group-button">
                  <input type="submit" value="Go" class="button">
                </div>
              </div> 
            </form>
          </div>
        </section>

      </div>
    </div>
  </body>

</html>