{{$alias := .ThisUserAlias}}
<h5>Now playing:</h5>
<h5>
	{{$npUUID := .NowPlaying.UUID}}
	{{if .NowPlaying.Title}}
		{{.NowPlaying.Title}} - {{.NowPlaying.Alias}}
	{{else}}
		Nothing
	{{end}}
</h5>

{{/*For each bucket in playlist*/}}
{{range .Buckets}}
  <div class="callout">
    {{/*For each item in bucket*/}}
    {{range .}}
      <div class="row
	  	{{if eq $npUUID .UUID}}
			callout success
		{{else if .Played}}
			callout secondary
		{{end}}
	  ">
        <div class="small-7 columns">
		{{if .Ready}}<a href="/media/{{.RelativeFile}}">{{end}}
          {{if .Title}}{{.Title}}{{else}}New video...{{end}}
		{{if .Ready}}</a>{{end}}
        </div>

        <div class="small-2 columns">
          {{if not .Ready}}
            Downloading...
          {{else if and (eq .Alias $alias) (not .Played)}}
            <form action="/remove" method="POST">
              <input type="hidden" name="video_id" value="{{.UUID}}">
              <input type="submit" value="Remove" class="alert button tiny remove-button">
            </form>
          {{end}}
        </div>

        <div class="small-3 columns">
          {{.Alias}}
        </div>
      </div>
    {{end}}
  </div>
{{end}}
